{% extends 'basefront.html.twig' %}

{% block title %}Hello FrontController!{% endblock %}

 
 {% block body %}
  


 <!-- ##### Hero Area Start ##### -->
 <div class="hero-area">
        <br> <h1>TOP PROMO VACANCES ÉTÉ 2019 </h1><br>
    <!-- Hero Post Slides -->
    <div class="hero-post-slides owl-carousel">
        <!-- Single Slide -->
      {% for hotel in hotel %}
        <div class="single-slide">
            <!-- Blog Thumbnail -->
            <div class="blog-thumbnail">
                <a href="#"><img src="{{ asset('front') }}/img/bg-img/1a.jpg" alt=""></a>
            </div>

            <!-- Blog Content -->
            <div class="blog-content-bg">
                <div class="blog-content">
                    <a href="#" class="post-tag">{{ hotel.destination }}</a>
                    <a href="{{ path ('hotel.show', { id: hotel.id, slug: hotel.slug })}}" class="post-title"> {{ hotel.nomhotel }}</a>
                    <div class="post-meta">
                        <a href="#" class="post-date">Promo Jun 107,375DT</a>
                        <a href="#" class="post-author">Promo Jul 155,300 DT</a>
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}
        
    </div>
 </div>

  

{% endblock %}
 